@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
    font-family: "Mont Heavy Demo";
    src: url("fonts/mont-heavy-demo/mont-heavy-demo.otf") format("opentype");
}

:root {
    --light-gray: #e5e9f0;
    --dark-gray: #2e3440;
    --blue: #81a1c1;
    --red: #bf616a;
    --green: #a3be8c;
    --yellow: #ebcb8b;
    --purple: #b48ead;
    --teal: #88c0d0;
    --mont: "Mont Heavy Demo", Arial, sans-serif;
    --rubik: "Rubik", sans-serif;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    background-image: url("images/nordic.jpg");
    background-position: center;
    background-size: cover;
}

.header {
    text-transform: lowercase;
}

.header__title {
    font-family: var(--mont);
    color: var(--light-gray);
}

.header__link {
    font-family: var(--rubik);
    color: var(--light-gray);
}