@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
    font-family: "Mont Heavy Demo";
    src: url("fonts/mont-heavy-demo/mont-heavy-demo.otf") format("opentype");
}

:root {
    --ghost-white-lightest: #f7fbfc;
    --ghost-white-light: #eef2f6;
    --ghost-white: #e5e9f0;
    --ghost-white-dark: #ced2d9;
    --ghost-white-darkest: #b7bac1;

    --gunmetal-lightest: #cfd6d9;
    --gunmetal-light: #7e858c;
    --gunmetal: #2e3440;
    --gunmetal-dark: #292f3b;
    --gunmetal-darkest: #252a37;

    --blue: #81a1c1;
    --red: #bf616a;
    --green: #a3be8c;
    --yellow: #ebcb8b;
    --purple: #b48ead;
    --teal: #88c0d0;
    --mont: "Mont Heavy Demo", Arial, sans-serif;
    --rubik: "Rubik", sans-serif;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--ghost-white-light);
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    background-image: url("images/nordic.jpg");
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    padding-bottom: 2rem;
}

.header {
    text-transform: lowercase;
}

.header__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header__icon {
    height: 2.75rem;
}

.header__title {
    font-family: var(--mont);
    font-size: 1.5rem;
    color: var(--ghost-white);
    margin: 0;
}

.header__link-container {
    display: none;
}

.header__link {
    font-family: var(--rubik);
    color: var(--ghost-white);
}

.hero__quote {
    max-width: calc(500px - 2rem);
    display: flex;
    flex-direction: column;
    font-family: var(--rubik);
    color: var(--ghost-white);
    padding: 1rem 2rem;
    margin: 0 auto;
}

.hero__quote-text {
    font-style: italic;
    line-height: 1.75;
    letter-spacing: 1px;
    margin: 0;
}

.hero__quote-cite {
    align-self: flex-end;
    font-style: normal;
    margin: 1rem;
}

.homepage__mobile-link-container {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0 0.75rem;
}

.homepage__mobile-link {
    width: max-content;
    font-family: var(--rubik);
    font-size: 1.25rem;
    color: var(--gunmetal-light);
    text-transform: lowercase;
    margin: 1rem 0;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.page-content h2 {
    align-self: flex-end;
    font-family: var(--mont);
    font-size: 1.75rem;
    color: var(--ghost-white-dark);
    text-transform: lowercase;
    margin-bottom: -0.5rem;
}

.page-content p {
    font-family: var(--rubik);
    color: var(--gunmetal);
    line-height: 1.75;
}

.footer {
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(to bottom, rgba(46, 52, 64, 0.25), rgba(46, 52, 64, 0.25)),
        url("images/nordic.jpg");
    background-position: bottom;
    background-size: cover;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    padding: 2rem;
}

.footer__icon {
    height: 2.75rem;
    justify-self: center;
    margin-top: 1rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.footer__text {
    font-family: var(--rubik);
    color: var(--ghost-white);
    text-transform: lowercase;
    text-align: center;
    margin-top: 1rem;
}